*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(187, 46, 46);
    padding: 100px;
    background: url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JvdXAlMjBzdHVkeXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80");
}
#project_form{
    height:500px;
    width: 400px;
    padding: 10px;
    text-align: center;
    background-color:white;
    color:white;
    border-radius: 10px;
    margin: 5px;

}
#project_form h1{
     color: black;
     font-size: large;
     font: bold;
 }
 #project_form h3{
    font-size: smaller;
    color: black;
    margin:3px;
    padding: 10px;
}
label{
    color: black;
    margin: 10px;
}
#project_form input{
    margin: 8px;
}
#project_form button{
    margin: 10px;
    background-color: mediumblue;
    color:white
}
#project_form button:hover{
    background-color: rgb(210, 13, 13);
}