*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom,rgb(111, 17, 235),rgb(94, 67, 192),blue);
}
#registration_form_cont{
    border:1px solid black;
    height: 500px;
    width:400px;
    padding:15px;
    text-align: center;
    background-color: rgb(7, 2, 39);
    color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 10px 10px 20px rgb(30, 30, 136);
}
#registration_form_cont input {
    border-radius: 5px;
    margin: 5px;
    padding: 10px 15px;


}
#registration_form_cont button{
    
    border-radius: 2px;
    color: white;
    background-color: green;
    margin: 10px 60px 10px 20px;
    display: flex;
    justify-content: start;
}

.context{
    display: flex;
    margin:10px 50px 10px 20px;
    justify-content: end;
    
}
.context input{
    margin:5px;
}
.context p{
    margin:5px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#registration_form_cont button:hover{
    background-color: rgb(88, 171, 88);
}

